In [2]:
if True:
    print('simmi')

simmi

In [3]:
3>2
if True:
    print('simmi')

simmi

In [3]:
'harshitha'!='good'
if True:
    print('simmi')
else:
    print('wrong')

simmi

In [14]:
harshitha='good'
if harshitha=='bad':
    print('girl')
else:
    print('sim')

sim

In [29]:
for letter in ['a','b','c']:
    print(letter)
    
a='sim'   
for letter in [a,10,b,'c']:
    print(letter)

a
b
c

NameError: name 'b' is not defined

In [28]:
for x in [1,2,3,4]:
    print('gtr')

gtr
gtr
gtr
gtr

In [18]:
for tup in [('e','r'),('x','y')]:
    print(tup)

('e', 'r')
('x', 'y')

In [55]:
d={'k1':4,'k2':6}

In [56]:
for tup in d:
    print(tup)

k1
k2

In [57]:
for tup in d.keys():
    print(tup)

k1
k2

In [58]:
for tup in d.values():
    print(tup)

4
6

In [59]:
for tup in d.items():
    print(tup)

('k1', 4)
('k2', 6)

In [68]:
a=[1,2,3,3,4,5,6]
for tup in a:
    if tup%2==0:
        print('even')
    else: 
        print('odd')

odd
even
odd
odd
even
odd
even

In [70]:
for num in('hel lo'):
    print(num)

h
e
l

l
o

In [83]:
for g,h in ((1,2),(3,4)):
    print (h)

2
4

In [56]:
for x in [g,h,'c']:
    print(x)

NameError: name 'g' is not defined

In [57]:
print(list(range(10)))

TypeError: 'range' object is not callable

In [58]:
list(range('a','z'))

TypeError: 'str' object cannot be interpreted as an integer

In [59]:
range(0,19,4)

range(0, 19, 4)

In [88]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [89]:
enumerate(mystr)

NameError: name 'mystr' is not defined

In [90]:
str={'k1':100,'k2':200}
print(enumerate(str))

<enumerate object at 0x7fbdbd84bd00>

In [91]:
type(enumerate(str))

enumerate

In [92]:
for index in enumerate(str.keys()):
    print(index)

(0, 'k1')
(1, 'k2')

In [93]:
2 in [1,2]

True

In [94]:
2 in '123456'

TypeError: 'in <string>' requires string as left operand, not int

In [95]:
'k1' in str

True

In [96]:
100 in str

False

In [97]:
100 in str.values()

True

In [98]:
max(range(0,10,5))

5

In [3]:
int(input('name:'))

name:ji

ValueError: invalid literal for int() with base 10: 'ji'

In [6]:
l1=[1,2,3]
l2=['a','b']
list(zip(l1,l2))

[(1, 'a'), (2, 'b')]

In [101]:
for num in zip(l1,l2):
    print(num)

(1, 'a')
(2, 'b')

In [102]:
from random import randint

randint(0,100)

63

In [103]:
l2

['a', 'b']

In [104]:
#list comprehensions

In [105]:
str='simmi'
list=[]
for x in str:
    list.append(x)

In [106]:
list

['s', 'i', 'm', 'm', 'i']

In [107]:
str.split('a')

['simmi']

In [108]:
s='i am an idiot'
s.split('a')

['i ', 'm ', 'n idiot']

In [109]:
list=[letter for letter in str]

In [81]:
list

['s', 'i', 'm', 'm', 'i']

In [82]:
x=[1,2,3]
y=[10,100]
list=[]
type(x)
for num1 in x:
    for num2 in y:
       print(num1*num2)

10
100
20
200
30
300

In [7]:
x=[1,2,3]
y=[10,100]
type(x)

list

In [10]:
list=[a*b for a in x for b in y]

In [11]:
list

[10, 100, 20, 200, 30, 300]

In [12]:
range(10)

range(0, 10)

In [13]:
list=range(10)

In [16]:
#print(list(range(10)))
print(list)

range(0, 10)

In [54]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [112]:
for n in range(0,11,2):
    print(n)

0
2
4
6
8
10

In [120]:
list(range(0,11,2))

TypeError: 'list' object is not callable

In [118]:
print(list(range(10)))

TypeError: 'list' object is not callable

In [121]:
c=[0,10,20]
f=[]
for x in c:
    f.append(((9/5)*x)+32)

In [122]:
f

[32.0, 50.0, 68.0]

In [123]:
f=[((9/5)*x)+32 for x in c]

In [124]:
f

[32.0, 50.0, 68.0]

In [133]:
list=[1,2,3,4,5,6,7]
even=[x/2 if x%2==0 else 'odd' for x in range(20) ]

In [134]:
even

[0.0,
 'odd',
 1.0,
 'odd',
 2.0,
 'odd',
 3.0,
 'odd',
 4.0,
 'odd',
 5.0,
 'odd',
 6.0,
 'odd',
 7.0,
 'odd',
 8.0,
 'odd',
 9.0,
 'odd']

 def player_guess(): 
    guess='' # you have to define a variable before using it 
    while guess not in ['0','1','2']:
        guess = input('choose the cup from 0/1/2:') 
        return guess
    return int(guess)

`

In [ ]:
def player_guess(): 
    guess='' # you have to define a variable before using it 
    while guess not in ['0','1','2']:
        guess = input('choose the cup from 0/1/2:') 
        return guess
    return int(guess)

In [1]:
pla

NameError: name 'pla' is not defined

In [2]:
#test

In [35]:
st='Simmi print only the words that start with s in this sentence'
list=st.split()


for word in st.split():
    
    if word[0].lower()=='s':  #  if word[0]=='s' or word[0]=='S'
        print(word)

Simmi
start
s
sentence

In [36]:
s_list=[]
index_no=0
for item in st.split():
    if list[index_no][0]=='s':  # if item[0].lower()=='s'
        s_list.append(item)
    index_no=index_no+1 # only is =s then the index n will update as it is in f loopanduke out of it
        
   
s_list

['start', 's', 'sentence']

In [44]:
list(range(0,11,2))

TypeError: 'range' object is not callable

In [19]:
st='Simmi print only the words that start with s in this sentence'
list=st.split()
for i in range(len(list)):
    if list[i][0]=='s':
        print(list[i])

start
s
sentence

In [27]:
l=[x for x in range(0,51) if x%3==0 ]
l

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [29]:
list(range(0,11,2))

TypeError: 'list' object is not callable

In [46]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2==0:
      #  print(word + ' is even')
       # print(f'{word} is even')
        print('{} is even'.format(word))

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [47]:
#Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [54]:
l=['Fizz' if x%3==0 else 'buzz' if x%5==0  for x in range(10)]
l

SyntaxError: expected 'else' after 'if' expression (4160211211.py, line 1)

In [65]:
for x in range(1,16):
    
    if x%15==0:
        print('fizzbuzz')
    elif x%3==0:
        print('fuzz')
    elif x%5==0:
        print('buzz')
    
    else:
        print(x)

1
2
fuzz
4
buzz
fuzz
7
8
fuzz
buzz
11
fuzz
13
14
fizzbuzz

In [66]:
st='Create a list of the first letters of every word in this string'
for word in st.split():
    print(word[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [68]:
st='Create a list of the first letters of every word in this string'
l=[word[0] for word in st.split()]
l

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [74]:
l='simmi'
l[4].upper()

'I'

In [76]:
st[4].upper()

'T'

In [81]:
l=['hi','sim']
x=' yo '.join(l)
x

'hi yo sim'

In [82]:
x.replace('yo',' ')

'hi   sim'